@use "../../globals.scss";

nav {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 1vh 2vw;
  border-bottom: 0.1rem solid var(--secondary);

  .nav-left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  .nav-right {
    display: flex;
    gap: 1vw;
    align-items: center;
  }
}
